@define-color green #89ca78;
@define-color yellow #e5c07b;
@define-color blue #61afef;
@define-color red #ef596f;

#cpu,
#tray,
#battery,
#workspaces,
#network,
#power-profiles-daemon {
  font-size: 18px;
  background-color: black;
  padding: 4px 12px;
}

/* both */
#cpu,
#workspaces {
  border-radius: 0px 0px 12px 12px;
}

/* left */
#battery {
  border-radius: 0px 0px 0px 14px;
  padding: 4px 8px 4px 12px;
}

#network {
  color: @green;
  padding: 0px 14px 0px 0px;
}

/* right */
#tray {
  color: @green;
  border-radius: 0px 0px 12px 0px;
  padding: 4px 16px 4px 0px;
}

#cpu {
  color: @green;
  min-width: 72px;
}

#workspaces {
  background-color:transparent;
}

#workspaces button {
  border-radius: 9999px;
}

#workspaces button:not(.empty) {
  color: gray;
}

#workspaces button.active {
  color: @green;
}

#battery {
  color: @green;
}

#battery.warning {
  color: @yellow;
}

#battery.low {
  color: @red;
}

#power-profiles-daemon {
  color: @green;
  min-width: 12px;
}

#tray menu {
  background-color: black;
  opacity: 0.9;
  color: white;
}
